Package: com.danipasztor.csrracing2
Name: Csr Racing 2 Cheats
Version: 1.0
Architecture: iphone-os arm
Description: Csr Racing 2 Cheats (infinity money,key...)
Maintainer: KingKong
Author: KingKong
Section: Cheats
